@use 'variables' as *;

// font import
@font-face {
  font-family: "Ubuntu";
  src: url(/assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format("truetype");
  font-display: swap;
}

// font variables
$font1: 'Ubuntu', sans-serif;

a {
  color: $white;
  font-style: normal;

  &:hover {
    transition: color 1s, font-style 1s;
    font-style: italic;
    color: $color1;
  }

  @media only screen and (max-width: $mobile) {
    font-style: italic;
    &:hover {
      color: $white;
    }
  }
}

hr {
  background-color: rgba($color1, 0.8);
  border-style: solid;
  border-color: rgba($color1, 0.8);
  height: 1px;
  box-shadow: none;
}

input, textarea, label {
  font-family: $font1;
}

body {
  font-family: $font1;
  font-size: 20px;
  font-weight: 400;
  color: $white;
  a {
    color: $white;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 18px;
  }
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.button {
  font-family: $font1;
  font-size: 1.2rem;
  text-decoration: none;
  color: $white;
}

header {
  .heading {
    text-align: center;
    h1 {
        font-size: 4rem;
        font-weight: 400;
      }
  }
}

footer {
  font-size: 0.9rem;
  font-family: $font1;
  font-weight: 400;
}

@media only screen and (max-width: $tablet) {
  header {
    .heading {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}