@use 'partials/setup';
@use 'partials/animations' as *;
@use 'partials/variables' as *;
@use 'partials/typography' as *;

html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// default body styles
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $black;
    text-align: center;
    width: 100%;
    max-width: 100vw;
    height: 750px;
}

input, textarea {
    background-color: $black;
    border: none;
    padding: 10px 15px;
}

textarea {
    height: 150px;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.button {
    font-style: normal;
    background-color: rgba($color2, 0.8);
    color: $black;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s, font-style 0.5s;
    &:hover {
        font-style: italic;
        background-color: rgba($color1, 0.6);

        @media only screen and (max-width: $mobile) {
            font-style: normal;
            background-color: rgba($color2, 0.8);
        }
    }
}

header {
    margin-top: 50px;
    .title {
        max-width: 1200px;
        .heading h1 {
            padding: 0;
            margin: 0;
        }
    }
}

footer {
    margin: 0;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        p {
            margin: 0;
        }
    }
}